html body {
	background: url(../images/white-sand.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quote-box {
padding: 100px;
margin-top: 100px;
}

@media only screen and (max-width: 900px){
  .quote-box {
    padding: 50px;
    margin-top: 150px;
    }
}

@media only screen and (max-width: 600px){
  .quote-box {
    padding: 20px;
    }
}

#quote {
	margin: 0 auto;
	background-color: transparent;
	color: #23501d;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 1.8em;
	font-family: 'Calligraffitti', cursive;	
}

.buttons {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px){
  .buttons {
    flex-direction: column;
    padding: 20px;
  }
}

#select-btn {
  margin-right: 50px;
}

@media only screen and (max-width: 600px){
  #select-btn {
    margin: 0;
    margin-bottom: 20px;
  }
}

.btn,
.btn:focus,
.btn-active {
  border-radius: 5%;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #1b95e0;
	color: #23501d;	
}

.btn:hover {
  color: #fff;
  background: linear-gradient(to bottom, #006e2e 0%,#006e2e 100%);
}

